body {
    background-color: rgb(51, 49, 49);
}

.top_part {
    background-color: black;
    width: 100%;
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 15px 30px 35px;
    z-index: 1;
}

.nav {
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    color: aliceblue;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

span{
    color: crimson;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1vh 2vh;    /* hibás padding*/
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: crimson;
    transition: 0.5s;
}

nav a {
    padding: 4vh;    /*hibás padding*/
}

.btn {
    color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid crimson;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transform .4s;
}

.btn:hover {
    background-color: crimson;
    transition: .5s;
    transform: scale(1.1);
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.main_title {
    z-index: 3;
    float: right;
    color: crimson;
    position: absolute;
    top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vh;
    top: 15vh;
    left: 27vh;
    width: 40vh;
}


.trenpic {
    height: 30vh;
    width: 30vh;
    position: absolute;
    top: 20vh;
    left: 30px;
    z-index: 3;
}


.text1 {
    z-index: 999;
    color: bisque;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    width: 70%;
    margin: auto;
}
.text1:hover {
    background: rgb(41, 41, 41);
    transition: 0.65s;
    border: 3px solid crimson;
}

.text1inside {
    margin-left: 20px;
    margin-right: 20px;
}

.text1focim {
    margin-left: 20px;
    color: crimson;
    font-size: 5vh;
}
.mid_part {
    position: absolute;
    top: 70vh;
}


